 /*--font family raleway */

.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* hero section background */
.container{
    background-image: url("./Assets/Hero-bg.png");
    background-position: top;
    height: 698px;  
}
/* navigation bar style */
nav{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin:0px 150px ;
}
/* navigation link style */
nav a{
  text-decoration: none;
}
/* logo text style */
nav h2{
  color: #4f46e5;
  font-size: 34px;
  font-weight: bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* primary button style */
.btn-primary{
  background-color: #4E47FF;
  color: #FFFFFF;
  font-family: "Raleway";
  padding: 12px 36px;
  font-family: "Raleway";
  font-weight: bold;
  border-radius: 10px;
}
/* hero banner text */
.banner-text{
  font-size: 65px;
  font-weight: bold;
  font-family: "Raleway";
  color: #252432;
  margin-top:185px ;
}

.banner-title{
  text-align: center;
}

/* image+text side by side  */
.preview-area{
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-wrap: wrap;
  padding: 60px 0;
  margin-top: 100px;
}
/* image styling */
.preview-area img{
  border-radius: 48px;
  width: 403px;
  
}
/* title styling */
.preview-area h3{
  font-family: "Raleway";
  font-weight: bold;
  font-size:42px;
  color: #252432;
}
/* paragraph styling */
.preview-area p{
   font-family: "Raleway";
   font-size: 24px;
   color: #252432;
}
/* text block container styling */
.preview-area-title{
  text-align: left;
  align-items: center;
  
}
